body {
    background-color: rgba(27, 101, 151, 0.68);
    padding: 0;
}

#content {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 25px;
    display: block;
    background-color: rgba(64, 64, 64, 0.3);
    width: 95%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-bottom: 15px solid rgba(32, 32, 32, 0.6);
}

.logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 198px;
}

#headline {
    margin-top: -30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 75px;
    font-weight: bold;
    color: #393939;
}

#homebutton {
    margin-top: 40px;
    margin-left: 20px;
    width: 50px;
    float: left;
    color: rgba(0, 0, 0, 0.6)
}
#meny {
    font-weight: bolder;
}
#bokning {
    font-weight: bolder;
}
#plats {
    font-weight: bolder;
}
#information {
    font-weight: bolder;
}

nav ul li {
    margin-right: 30px;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
    font-size: 7em;
    margin-top: 25px;
    padding-top: 25px;
}

nav ul li:hover {
    font-weight: 900;
}

a {
    color: rgba(0, 0, 0, 0.68);
    text-decoration: none;
}

nav ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

nav {
    border-top: 15px solid rgba(32, 32, 32, 0.6);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


article {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.extrapicture {
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px ridge rgba(255,255,255,1);
}

.picture {
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 4px ridge rgba(255,255,255,1);
    display: block;

}

#news {
    width: 100px;
    font-family: 'Josefin Sans', "Gill Sans MT";
    font-size: 5em;
    margin-left: 15%;
    font-weight: 800;
    color: rgba(25, 10, 6, 0.68)
}
#news::first-letter {
    font-weight: 1600;
    color: black;
}
#lorem {
    line-height: 1.5em;
    font-weight: bold;
    color: lavender;
}

footer {
    height: 32px;
    padding: 1em 3em;
}

footer .copyright {
    float: left;
    padding-top: 8px;
}
footer .social {
    float: right;
}
footer .social .icon {
    float: left;
    margin-left: 1em;
    width: 32px;
    height: 32px;
    background-color: rgba(255,255,255, 1);
}
footer .social .icon.facebook {
    -webkit-mask:  url(../img/facebook31.svg) no-repeat 50% 50%;
    -moz-mask:  url(../img/facebook31.svg) no-repeat 50% 50%;
    mask: url(../img/facebook31.svg) no-repeat 50% 50%;
}
footer .social .icon.twitter {
    -webkit-mask:  url(../img/twitter21.svg) no-repeat 50% 50%;
    mask: url(../img/twitter21.svg) no-repeat 50% 50%;
}
footer .social .icon.vimeo {
    -webkit-mask:  url(../img/vimeo12.svg) no-repeat 50% 50%;
    mask: url(../img/vimeo12.svg) no-repeat 50% 50%;
}
footer .social .icon a {
    display: block;
    width: 100%;
    height: 100%;
}
@media (min-width: 77em) {
    body {
        background-image: url(../img/sky.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }


    #content {
        width: 80%;
    }

    nav ul li {
        font-size: 30px;
        float: left;
    }

    #news {
        font-size: x-large;
    }

    article {
        text-align: justify;
        padding-top: 10%;
        padding-left: 15%;
        padding-right: 15%;
    }
}
